Repository frequenz-floss/frequenz-dispatch-python, pull requests merged in 2024-03, with the labels that each got.

#9 Initial structure
  .github/labeler.yml
  .github/workflows/ci.yaml
  README.md
  mkdocs.yml
  pyproject.toml
  src/frequenz/actor/dispatch/__init__.py
  src/frequenz/dispatch/__init__.py
  src/frequenz/dispatch/actor.py
  src/frequenz/dispatch/conftest.py
  src/frequenz/dispatch/py.typed
  tests/__init__.py
  tests/test_frequenz_dispatch.py
Labels: cmd:skip-release-notes, part:docs, part:tests, part:tooling

#14 Add gRPC Python API cross referencing
  mkdocs.yml
Labels: part:docs, part:tooling

#15 Improve project structure
  src/frequenz/dispatch/__init__.py
  src/frequenz/dispatch/_dispatcher.py
  src/frequenz/dispatch/_event.py
  src/frequenz/dispatch/actor.py
  tests/test_frequenz_dispatch.py
Labels: cmd:skip-release-notes, part:tests, type:enhancement, type:tech-debt, part:actor

#12 Update solipsism
  pyproject.toml
  tests/test_frequenz_dispatch.py
Labels: cmd:skip-release-notes, part:tests, part:tooling
