Repository frequenz-floss/frequenz-dispatch-python, pull requests merged in 2024-09, with the labels that each got.

#51 Update to latest SDK and dispatch-client versions
  README.md
  RELEASE_NOTES.md
  mkdocs.yml
  pyproject.toml
  src/frequenz/dispatch/_dispatcher.py
  src/frequenz/dispatch/actor.py
Labels: part:docs, part:tooling, part:actor, part:dispatcher

#53 Send stop signal when duration is reached
  RELEASE_NOTES.md
  src/frequenz/dispatch/actor.py
  tests/test_frequenz_dispatch.py
Labels: part:docs, part:tests, part:actor, part:dispatcher

#59 Relax frequenz-sdk version constraints
  pyproject.toml
Labels: part:tooling, part:dispatcher

#60 Fix SDK dependency version constraint
  pyproject.toml
Labels: part:tooling, part:dispatcher

#54 Dispatch Managing Actor
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/dispatch/__init__.py
  src/frequenz/dispatch/_dispatch.py
  src/frequenz/dispatch/_managing_actor.py
  src/frequenz/dispatch/actor.py
  tests/test_frequenz_dispatch.py
  tests/test_mananging_actor.py
Labels: part:docs, part:tests, part:tooling, part:actor, part:dispatcher
