Repository frequenz-floss/frequenz-dispatch-python, pull requests merged in 2024-07, with the labels that each got.

#39 Update to new client
  pyproject.toml
  src/frequenz/dispatch/_dispatcher.py
  tests/test_frequenz_dispatch.py
Labels: cmd:skip-release-notes, part:tests, part:tooling

#40 Update to client v0.5.0
  pyproject.toml
Labels: part:tooling

#42 Bump the cross-ref object DB version to match the dependency version
  RELEASE_NOTES.md
  mkdocs.yml
Labels: part:docs, part:tooling, type:bug
