Repository frequenz-floss/frequenz-dispatch-python, pull requests merged in 2025-03, with the labels that each got.

#108 Some final preparations
  README.md
  RELEASE_NOTES.md
  src/frequenz/dispatch/_actor_dispatcher.py
  src/frequenz/dispatch/_bg_service.py
  src/frequenz/dispatch/_dispatcher.py
  tests/test_frequenz_dispatch.py
  tests/test_mananging_actor.py
Labels: part:docs, part:tests, part:dispatcher

#115 Rename stop_dispatching to stop_managing in Dispatcher
  src/frequenz/dispatch/_dispatcher.py
Labels: cmd:skip-release-notes, part:dispatcher

#114 Enhancements from the last PR
  src/frequenz/dispatch/_actor_dispatcher.py
Labels: cmd:skip-release-notes, part:dispatcher

#120 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs, part:dispatcher
