Repository frequenz-floss/frequenz-dispatch-python, pull requests merged in 2025-01, with the labels that each got.

#89 Interface enhancements
  README.md
  RELEASE_NOTES.md
  src/frequenz/dispatch/__init__.py
  src/frequenz/dispatch/_bg_service.py
  src/frequenz/dispatch/_dispatcher.py
  tests/test_frequenz_dispatch.py
  tests/test_mananging_actor.py
Labels: part:docs, part:tests, part:actor, part:dispatcher

#94 Merge & unify running state event intervals
  RELEASE_NOTES.md
  src/frequenz/dispatch/_bg_service.py
  src/frequenz/dispatch/_dispatcher.py
  tests/test_frequenz_dispatch.py
  tests/test_mananging_actor.py
Labels: part:docs, part:tests, part:dispatcher

#97 Clean up API a bit
  RELEASE_NOTES.md
  src/frequenz/dispatch/_bg_service.py
  src/frequenz/dispatch/_managing_actor.py
  tests/test_mananging_actor.py
Labels: part:docs, part:tests, part:tooling, part:dispatcher

#99 Fix flakey tests
  pyproject.toml
  tests/test_frequenz_dispatch.py
Labels: part:tests, part:tooling, part:dispatcher

#100 Widen the SDK dependency range to support 1.0.0rc1500
  pyproject.toml
Labels: part:tooling, part:dispatcher

#102 Widen the SDK dependency range to support 1.0.0rc1500
  RELEASE_NOTES.md
  pyproject.toml
Labels: part:docs, part:tooling, part:dispatcher
