Repository frequenz-floss/frequenz-dispatch-python, pull requests merged in 2025-06, with the labels that each got.

#160 Make DispatchInfo components type: TargetComponent public
  src/frequenz/dispatch/__init__.py
Labels: type:bug, part:dispatcher

#161 Change minimum version of the frequenz-sdk dependnecy
  pyproject.toml
Labels: cmd:skip-release-notes, part:tooling, part:dispatcher

#162 Fixed that dispatches are never retried, but forever logged.
  RELEASE_NOTES.md
  src/frequenz/dispatch/_actor_dispatcher.py
Labels: part:docs, part:dispatcher

#165 Properly clean up timer in `stop()`
  src/frequenz/dispatch/_actor_dispatcher.py
  src/frequenz/dispatch/_bg_service.py
  tests/test_frequenz_dispatch.py
  tests/test_managing_actor.py
Labels: cmd:skip-release-notes, part:tests, part:dispatcher

#167 Remove obsolete type `TargetComponents`
  RELEASE_NOTES.md
  src/frequenz/dispatch/__init__.py
  src/frequenz/dispatch/_actor_dispatcher.py
  tests/test_managing_actor.py
Labels: part:docs, part:tests, part:dispatcher

#170 Fix Typo
  RELEASE_NOTES.md
Labels: part:docs, part:dispatcher
