Repository frequenz-floss/frequenz-dispatch-python, pull requests merged in 2025-02, with the labels that each got.

#103 Redesign actor service
  RELEASE_NOTES.md
  src/frequenz/dispatch/__init__.py
  src/frequenz/dispatch/_actor_dispatcher.py
  src/frequenz/dispatch/_managing_actor.py
  tests/test_mananging_actor.py
Labels: part:docs, part:tests, part:dispatcher

#98 Implement merge strategy based on TYPE+TARGET
  RELEASE_NOTES.md
  src/frequenz/dispatch/__init__.py
  src/frequenz/dispatch/_bg_service.py
  src/frequenz/dispatch/_dispatcher.py
  src/frequenz/dispatch/_merge_strategies.py
  tests/test_frequenz_dispatch.py
Labels: part:docs, part:tests, part:tooling, part:dispatcher

#104 Support multiple target actors for one type of dispatch
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/dispatch/__init__.py
  src/frequenz/dispatch/_actor_dispatcher.py
  src/frequenz/dispatch/_bg_service.py
  src/frequenz/dispatch/_dispatcher.py
  src/frequenz/dispatch/_merge_strategies.py
  tests/test_frequenz_dispatch.py
  tests/test_mananging_actor.py
Labels: part:docs, part:tests, part:tooling, part:dispatcher

#110 Set cross-arch-ci timeout to 8 minutes
  .github/workflows/ci.yaml
Labels: part:tooling, part:dispatcher

#109 Widen frequenz-sdk dependency to v1.0.0-rc1800
  RELEASE_NOTES.md
  pyproject.toml
Labels: part:docs, part:tooling, part:dispatcher
